<%= form_with url: campus_path do |form| %>
  <% if campus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(campus.errors.count, "error") %> prohibited this campus from being saved:</h2>

      <ul>
      <% campus.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
