<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @brigade_membership.student.last_name+' '+@brigade_membership.student.first_name+' '+@brigade_membership.student.second_name %>
</p>

<%= link_to 'Edit', edit_brigade_brigade_membership_path(@brigade_membership.brigade, @brigade_membership) %> |
<%= link_to 'Back', brigade_brigade_memberships_path(@brigade_membership.brigade) %>
