<p id="notice"><%= notice %></p>

<h1>Classes Timetables</h1>

<table>
  <thead>
    <tr>
      <th>Semester</th>
      <th>Subgroup</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @classes_timetables.each do |classes_timetable| %>
      <tr>
        <td><%= classes_timetable.semester.id %></td>
        <td><%= classes_timetable.subgroup.name %></td>
        <td><%= link_to 'Show', classes_timetable_lessons_path(classes_timetable) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
