<h1>Editing Teachers Project Membership</h1>

<%= render 'form', teachers_project_membership: @teachers_project_membership %>

<%= link_to 'Show', @teachers_project_membership %> |
<%= link_to 'Back', teachers_project_memberships_path %>
