<h1>Editing Students Project Membership</h1>

<%= render 'form', students_project_membership: @students_project_membership %>

<%= link_to 'Show', @students_project_membership %> |
<%= link_to 'Back', students_project_memberships_path %>
